<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="router-link-active">
            <i class='bx bx-store me-2'></i> ShopEase
        </a>
        <button class="navbar-toggler" type="button" ngbDropdown #dropdown="ngbDropdown" aria-expanded="false"
            (click)="dropdown.toggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="!dropdown.isOpen()" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/"><i class='bx bx-home me-1'></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products"><i class='bx bxl-shopify me-1'></i> Products</a>
                </li>
            </ul>
        </div>
    </div>
</nav>