<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="container mt-4">
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <label for="categoryFilter">Filter By Category</label>
            <ng-select id="categoryFilter" [items]="categories" placeholder="Select Category" [searchable]="true"
                [clearable]="false" [hideSelected]="true" [(ngModel)]="category" bindLabel="name"
                (change)="filter($event)" bindValue="name">
            </ng-select>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <h3>Products / <span>{{category}}</span></h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <app-product-card [products]="products"></app-product-card>
    </div>

</div>